# Python packages specified in this file will be automatically installed.
# You can use these packages in the 'cube.py' file and dynamic data models.
# Learn more: https://cube.dev/docs/product/configuration#runtimes-and-dependencies

cube_dbt
